$primary-color: #1d3557;
$error-color: #e63946;
$bg-color: #f1faee;
$text-color: #293241;
$color-white: #fff;

$border-radius: 4px;

.container {
  padding: 0;
  width: 100%;
  font-family: 'Space Grotesk', sans-serif;

  .formCard {
    padding: 2rem;
    //box-shadow: 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25), 0 0 #0000;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  h1 {
    font-size: 2rem;
    color: $text-color;
    margin: 0;
    padding: 10px;
    padding-bottom: 50px;;
    font-family: 'Space Grotesk', sans-serif;
    color: #c9ada7;
  }

  h2 {
    color: $text-color;
    margin-bottom: 1rem;
    font-family: 'Space Grotesk', sans-serif;
    color: #c9ada7;
  }

  p {
    font-family: 'Space Grotesk', sans-serif;
    color: #dedede;
  }

  label,
  input {
    color: $text-color;
    font-family: 'Space Grotesk', sans-serif;
  }

  label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #f2e9e4;
    display: flex;
    align-items: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  input {
    border: 2px solid rgba($primary-color, 0.8);
    border-radius: $border-radius;
    padding: 0.5rem 1rem;
    padding-left: 1rem;
    font-size: 1rem;
  }

  .formRow {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  button:not(.back) {
    color: $color-white;
    width: 100%;
    font-size: 1.4rem;
    background: $primary-color;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    padding: 0.8rem 1.2rem;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 900;
    
    &:hover {
      background: rgba($primary-color, 0.8);
    }
  }

  button.back {
    cursor: pointer;
    border: none;
    border-radius: 0;
    background: #000;
    color: #fff;
    padding: 10px 30px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 900;
  }

  .input-error {
    border-color: $error-color;
  }

  .error {
    color: $error-color;
    font-size: 1rem;
    margin-top: 0.3rem;
  }

  .disabled-btn {
    cursor: not-allowed;
    background: rgba($primary-color, 0.8);
  }

  input[type="radio"] {
    margin-right: 0.7rem;
    width: 30px;
    height: 30px;
  }

  .steps {
    display: inline-block;
    margin-bottom: 1rem;
    color: $text-color;
    font-size: 1.2rem;
    color: #9a8c98;
  }

  .errorText {
    color: $error-color;
    font-size: 1.2rem;
    margin-top: 0.4rem;
    display: block;
  }

  .hideForm {
    display: none;
  }

  .showForm {
    display: block;
  }

  .preguntas {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }

  .elchecker {
    display: flex;

  }
}
